...

# ==============================================================
# Workshop 
# ==============================================================

# ED25519 key
export NATIVE_ACCOUNT_ID=0.0.1441
export NATIVE_ADDRESS=0x000000000...
export NATIVE_PRIVATE_KEY=302e02010....

# ECDSA key
export EVM_ACCOUNT_ID=0.0.1545
export EVM_ADDRESS=0xe0b73f....
export EVM_PRIVATE_KEY=0x48b52ab....